.header{
    height: 60;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;   /* sticks to top */
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 18px;
    margin-top: 18px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon{
    padding: 5px;
    height: 22px;
    background-color: darkgoldenrod;
}

.header_optionLine1{
    font-size: 10px;
}

.header_optionLine2{
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

.header_option:hover,
.header_optionBasket:hover{
    transform: scale(1.05);
}

.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}